{{ define "main" }}
    <section class="section">
        <h1 class="title">{{.Title}}</h1>
        {{.Content}}

        {{ if (eq $.CurrentSection.Title "Spaces") }}
            <ul>
            {{ range .Sections }}
                <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
            {{ end }}
            </ul>
        {{ else }}
            <ul>
            {{ range .Pages }}
                <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
            {{ end }}
            </ul>
        {{ end }}
    </section>
{{ end }}

