{{ define "main" }}
<section class="section spaces">
  {{- partial "breadcrumb.html" . -}}
  <div class="container">
    <h1 class="title teaser">{{.Title}}</h1>
    <article>
      {{.Content}}
    </article>

    <div class="spaces-list columns is-multiline">
      {{ range $name, $taxonomy := .Site.Taxonomies.cities }}
      <div class="column is-one-third">
        <a href="{{ "/cities/" | relLangURL }}{{ $name | urlize }}">
          {{ humanize $name }}
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
