{{ define "main" }}
<section class="section">
  {{- partial "breadcrumb.html" . -}}
   <div class="container">
  <h1 class="title">{{ .Title }}</h1>
  <div>
    {{ range $.Page.Resources.Match "**.jpg" }}
      {{ $scaled := .Fill "300x400" }}
      <img src="{{ $scaled.Permalink }}">
    {{ end }}
  </div>
  <div>Twitter: {{ .Params.twitter }}</div>
  <div>Instagram: {{ .Params.instagram }}</div>
  <div>Web: <a href src="{{ .Params.website }}" target="_blank">{{ .Params.website }}</a></div>
  <div>Meet me at: {{ .Params.meetme }}</div>
  <div>
    {{ .Content }}
  </div>
  <div>
    <h2 class="is-size-4">Mehr Hackerinnen aus {{ .Parent.Title }}</h2>
    {{ with .PrevInSection }}
      <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
  </div>
</div>
</section>
{{ end }}
