{{ define "main" }}
<section class="section profile">
  {{- partial "breadcrumb.html" . -}}
  <div class="container">
    <h1 class="title">{{ .Title }}</h1>
    <div class="image">
      {{ range $.Page.Resources.Match "**.jpg" }}
      {{ $scaled := .Fill "300x400" }}
      <img src="{{ $scaled.Permalink }}" />
      {{ end }}
    </div>
    <div class="contact">
      {{ if isset .Params "twitter" }}<div><b>Twitter:</b> {{ .Params.twitter }}</div>{{ end }}
      {{ if isset .Params "instagram" }}<div><b>Instagram:</b> {{ .Params.instagram }}</div>{{ end }}
      {{ if isset .Params "website" }}<div>
        <b>Web:</b>
        <a
          href
          src="{{ .Params.website }}"
          target="_blank"
          >{{ .Params.website }}</a
        >
      </div>
      {{ end }}
      {{ if isset .Params "meetme" }}<div><b>{{ i18n "meet-me" }}:</b> {{ .Params.meetme }}</div>{{ end }}
    </div>
    <div class="content">
      {{ .Content }}
    </div>
    <div class="footer">
      Mehr Hackerinnen aus {{ .Parent.Title }}
      {{ with.PrevInSection }}
      <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
      {{ with.NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
