{{ define "main" }}
<div id="generated-bg"></div>
<section class="section profile">
  <div class="container">
      {{- partial "breadcrumb.html" . -}}
      {{- partial "arrownav.html" . -}}
  </div>

  <article class="container">
    <h1 class="title teaser">{{ .Title }}</h1>
    <div class="image">
      {{ range $.Page.Resources.Match "**.jpg" }}
      {{ $scaled := .Fill "300x400 Top" }}
      <img src="{{ $scaled.Permalink }}" />
      {{ end }}
    </div>
    <div class="factsheet">
      {{ if isset .Params "intro" }}<div><i>{{ .Params.intro }}</i></div><br/>{{ end }}
      {{ if isset .Params "skills" }}<div><b>{{ i18n "skills" }}:</b> {{ .Params.skills }}</div>{{ end }}
      {{ if isset .Params "speakinglink" }}
        <div><b>{{ i18n "speaking" }}:</b> <a href="{{ .Params.speakinglink }}">{{ .Params.speaking }}</a></div>
      {{ else if isset .Params "speaking" }}
        <div><b>{{ i18n "speaking" }}:</b> {{ .Params.speaking }}</div>
      {{ end }}
      {{ if isset .Params "meetmelink" }}
        <div><b>{{ i18n "meet-me" }}:</b> <a href="{{ .Params.meetmelink }}">{{ .Params.meetme }}</a></div>
      {{ else if isset .Params "meetme" }}
        <div><b>{{ i18n "meet-me" }}:</b> {{ .Params.meetme }}</div>
      {{ end }}
    </div>
    <div class="content">
      {{ .Content }}
    </div>
    <div class="contact">
      {{ if isset .Params "website" }} <a href="{{ .Params.website }}" target="_blank" rel="noopener noreferrer">{{ i18n "website" }}</a> {{ end }}
      {{ if isset .Params "github" }} <a href="https://www.github.com/{{ .Params.github }}" target="_blank" rel="noopener noreferrer">@{{ .Params.github }}<i class="fab fa-github social-icon"></i></a> {{ end }}
      {{ if isset .Params "twitter" }} <a href="https://www.twitter.com/{{ .Params.twitter }}" target="_blank" rel="noopener noreferrer">@{{ .Params.twitter }}<i class="fab fa-twitter social-icon"></i></a> {{ end }}
      {{ if isset .Params "instagram" }} <a href="https://www.instagram.com/{{ .Params.instagram }}" target="_blank" rel="noopener noreferrer">@{{ .Params.instagram }}<i class="fab fa-instagram social-icon"></i></a> {{ end }}
      {{ if isset .Params "facebook" }} <a href="https://www.facebook.com/{{ .Params.facebook }}" target="_blank" rel="noopener noreferrer">@{{ .Params.facebook }}<i class="fab fa-facebook social-icon"></i></a> {{ end }}
    </div>
    <div class="footer-nav">
      {{ if or (.PrevInSection) (.NextInSection) }}
        <p>{{ i18n "more-hackerinnen-from"}} {{ .Parent.Title }}</p>
        </br>
      {{ end }}

      {{ with.PrevInSection }}
        <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}

      {{ if and (.PrevInSection) (.NextInSection) }}
      < >
      {{ end }}

      {{ with.NextInSection }}
        <a class="next" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
    </div>
  </div>
  </article>
</section>

  <script>window.inputString = "{{ .Title }}"</script>
  {{ $script := resources.Get "js/background.js" | minify | fingerprint}}
  <script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
{{ end }}
