{{ define "main" }}
<section class="section spaces">
  {{- partial "breadcrumb.html" . -}}
  <div class="container">
    <h1 class="title teaser">{{.Title}}</h1>
    <article>
      {{.Content}}
    </article>
    <div class="columns is-multiline">
      {{ range.Pages }}
      <figure class="column is-one-third">
        <a href="{{.Permalink}}">
          <div class="image">
            {{ range .Resources.ByType "image" }}
            {{ $scaled := .Fill "800x600 Top" }}
            <img src="{{ $scaled.Permalink }}" alt="{{ i18n "profile-image" }}">
            {{ else }}
            <span class="image-placeholder">
              <img src="/images/astronaut.png" />
            </span>
            {{ end }}
            <figcaption class="is-overlay img-overlay">
              <span class="img-tag">{{ .Title }}</span>
            </figcaption>
          </div>
        </a>
      </figure>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
