{{ define "main" }}
<div id="generated-bg"></div>

<section class="section projects-list">
  <div class="container">
    <div class="header">
      <h1 class="title">{{.Title}}</h1>
      <p>
        {{.Content}}
      </p>
    </div>
    {{ range.Pages }}
      <div class="box">
        <div class="columns is-gapless project">
          <div class="column is-one-third">
            <a href="{{ .Params.website }}" target="_blank" rel="noopener noreferrer" class="image">
              {{ range .Resources.ByType "image" }}
              {{ $scaled := .Fit "800x600 Center" }}
                <img src="{{ $scaled.Permalink }}" alt="{{ i18n "profile-image" }}">
              {{ else }}
                <span class="image-placeholder">
                  <img src="/images/astronaut.png" />
                </span>
              {{ end }}
            </a>
          </div>
          <div class="column">
            <div class="description">
              <div class="intro is-pulled-left">
                <h2>{{ .Title }}</h2>
                <div class="has-text-weight-light">
                  {{ .Params.Intro }}
                </div>
              </div>
              <div class="contact is-pulled-right">
                {{ if isset .Params "website" }} <a href="{{ .Params.website }}" target="_blank" rel="noopener noreferrer">{{ .Params.website }}</a><br/> {{ end }}
                {{ if isset .Params "github" }} <a href="https://www.github.com/{{ .Params.github }}" target="_blank" rel="noopener noreferrer">@{{ .Params.github }}<i class="fab fa-github social-icon"></i></a><br/> {{ end }}
                {{ if isset .Params "twitter" }} <a href="https://www.twitter.com/{{ .Params.twitter }}" target="_blank" rel="noopener noreferrer">@{{ .Params.twitter }}<i class="fab fa-twitter social-icon"></i></a><br/> {{ end }}
                {{ if isset .Params "instagram" }} <a href="https://www.instagram.com/{{ .Params.instagram }}" target="_blank" rel="noopener noreferrer">@{{ .Params.instagram }}<i class="fab fa-instagram social-icon"></i></a><br/> {{ end }}
                {{ if isset .Params "facebook" }} <a href="https://www.facebook.com/{{ .Params.facebook }}" target="_blank" rel="noopener noreferrer">@{{ .Params.facebook }}<i class="fab fa-facebook social-icon"></i></a><br/> {{ end }}
              </div>
              <a class="read-more" data-target="{{ .Params.Slug }}">
                <span class="show-less">{{ i18n "show-less" }}</span>
                <span class="show-more">{{ i18n "show-more" }}</span>
              </a>
            </div>
          </div>
        </div>
        <div id="{{ .Params.Slug }}" class="columns is-gapless details">
          <div class="column">
            {{ .Content }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ $script := resources.Get "js/initiative_project.js" | minify | fingerprint}}
<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
<script>window.inputString = "projects"</script>
{{ $script := resources.Get "js/background.js" | minify | fingerprint}}
<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
{{ end }}
