{{ define "main" }}
<section class="section hackerinnen-list">
  <div class="container">
    <div class="header">
      <h1 class="title">{{.Title}}</h1>
      <p>
        {{.Content}}
      </p>
    </div>
    <div class="featured">
      <div class="columns is-gapless">
        {{ range first 1 .Pages }}
        <div class="column is-one-third">
          <a href="{{.Permalink}}">
            {{ range .Resources.ByType "image" }}
            {{ $scaled := .Fit "800x600 Top" }}
            <img src="{{ $scaled.Permalink }}">
            {{ end }}
          </a>
        </div>
        <div class="column">
          <a href="{{.Permalink}}">
            <div class="description">
              {{ .Params.Intro }}
              <h1>{{ .Title }}</h1>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="columns is-8 is-variable is-multiline">
      {{ range after 1 .Pages }}
      <div class="column is-one-third">
        <a href="{{.Permalink}}">
          <div class="hackerin">
            <figure>
              <div class="image">
                {{ range .Resources.ByType "image" }}
                {{ $scaled := .Fit "800x600 Top" }}
                  <img src="{{ $scaled.Permalink }}" />
                {{ else }}
                  <span class="image-placeholder">
                    <img src="/images/astronaut.png" />
                  </span>
                {{ end }}
              </div>
            </figure>
            <div class="description">
              <div class="has-text-weight-light	">
                {{ .Params.Intro }}
              </div>
              <h2 class="has-text-weight-semibold">{{ .Title }}</h2>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
