{{ define "main" }}
<section class="section spaces">
  {{- partial "breadcrumb.html" . -}}
  <div class="container">
    <h1 class="title teaser">{{.Title}}</h1>
    <article>
      {{.Content}}
    </article>
    <div class="columns is-multiline">
      {{ range.Pages }}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure>
              <a href="{{.Permalink}}">
                <div class="image">
                  {{ range .Resources.ByType "image" }}
                  {{ $scaled := .Fill "800x600 Top" }}
                  <img src="{{ $scaled.Permalink }}" alt="{{ i18n "profile-image" }}">
                  {{ else }}
                  <span class="image-placeholder">
                    <img src="/images/astronaut.png" />
                  </span>
                  {{ end }}
                </div>
              </a>
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">{{ .Title }}</p>
            <div class="content">
              {{ .Params.Intro | truncate 100 }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
