/**
* Styles used on /hackerinnen
*/
.section.hackerinnen-list {
  .header {
    text-align: center;
    margin-bottom: 100px;
  }

  .featured {
    position: relative;
    background-color: $green;

    img {
      display: block;
      width: 100%;
    }

    .description {
      color: #fff;
      padding: 30px 40px;

      @media only screen and (min-width: $tablet) {
        padding: 50px 40px;
      }

      @media only screen and (min-width: $desktop) {
        padding: 90px 70px;
        font-size: 1.4rem;
      }

      @media only screen and (min-width: $widescreen) {
        font-size: 1.5rem;
      }

      h1 {
        font-size: 1.5rem;
        text-align: right;
        margin-top: 20px;

        @media only screen and (min-width: $tablet) {
          position: absolute;
          bottom: 30px;
          right: 50px;
        }

        @media only screen and (min-width: $desktop) {
          font-size: 1.7rem;
        }

        @media only screen and (min-width: $widescreen) {
          font-size: 2rem;
        }
      }
    }
  }

  .hackerin {
    font-size: 1.2rem;
    color: $text-color;
    border-bottom: 5px solid $green;
    margin-top: 80px;

    .description {
      padding: 10px 0 5px 0;
      margin-top: 5px;

      h2 {
        font-size: 1.3rem;
        text-align: right;
        margin-top: 20px;
      }
    }
  }
}
