nav {
  &.hero-bg {
    background-image: linear-gradient(200deg, $primary 30%, $blue 100%);
    background-size: 100% 52px;
  }

  a,
  a.navbar-item {
    color: white;
  }

  a:hover,
  a.navbar-item:hover {
    background-color: transparent;
    color: darken(white, 10%);
  }

  .navbar-menu.is-active {
    a,
    a.navbar-item {
      color: $text;
    }

    a:hover,
    a.navbar-item:hover {
      background-color: transparent;
      color: darken($text, 5%);
    }
  }
}
