/**
* Styles used on /initiatives
*/
.section.initiatives-list {
  .header {
    text-align: center;
    margin-bottom: 100px;
  }

  .initiative {
    font-size: 1.2rem;
    min-height: 210px;

    .is-one-third {
      background-color: $primary;
    }

    .description {
      position: relative;
      display: block;
      padding: 30px 20px;
      height: 100%;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0px;
        border-bottom: 30px solid $primary;
      }

      .intro {
        height: 60%;
      }

      h2 {
        font-size: 1.3rem;
        text-align: right;
        margin-top: 20px;
      }
    }
  }

  .details {
    color: #fff;
    background-color: $primary;
    padding: 50px 40px;
    margin-top: -1.5rem;

    h2 {
      font-size: 1.3rem;
      margin-bottom: 40px;
    }

    a {
      color: #fff;
      font-weight: 500;

      i {
        margin-left: 10px;
      }
    }

    .contact {
      text-align: right;
    }
  }
}
