/**
* Styles used on /initiatives
*/
.section.initiatives-list {
  .header {
    text-align: center;
    margin-bottom: 100px;
  }

  .initiative {
    font-size: 1.2rem;
    min-height: 210px;
    position: relative;
    z-index: 10;

    .is-one-third {
      background-color: $primary;
    }

    .description {
      position: relative;
      display: block;
      padding: 0 20px 30px 20px;
      height: 100%;

      .intro {
        height: 60%;
      }

      h2 {
        font-size: 1.4rem;
        text-align: right;
        margin-bottom: 20px;
      }

      a.read-more {
        position: absolute;
        right: 20px;
        bottom: 0px;

        .show-less {
          display: none;
        }

        &.is-open {
          .show-more {
            display: none;
          }
          .show-less {
            display: block;
          }
        }
      }
    }
  }

  .details {
    display: none;
    position: relative;
    color: #fff;
    background-color: $primary;
    padding: 70px 40px;
    margin-top: -4rem;

    h2 {
      font-size: 1.3rem;
      margin-bottom: 40px;
    }

    a {
      color: #fff;
      font-weight: 500;

      i {
        margin-left: 10px;
      }
    }

    &.is-open {
      display: flex;
    }

    .contact {
      text-align: right;
    }
  }
}
