/**
* Styles used on /initiatives
*/
.section.initiatives-list {
  .initiative {
    font-size: 1.2rem;
    position: relative;
    z-index: 10;
    margin-bottom: 0;

    .description {
      padding: 20px 30px;
      min-height: 300px;

      .intro {
        width: 60%;
      }

      .contact {
        text-align: right;
        margin-top: 40px;
      }

      h2 {
        font-size: 1.6rem;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      a {
        font-size: 1rem;
        i {
          margin-left: 5px;
        }
      }

      a.read-more {
        position: absolute;
        right: 30px;
        bottom: 10px;
        font-weight: 700;

        .show-less {
          display: none;
        }

        &.is-open {
          .show-more {
            display: none;
          }
          .show-less {
            display: block;
          }
        }
      }
    }
  }

  .details {
    display: none;
    position: relative;
    color: #fff;
    background-color: $blue;
    padding: 50px 30px;

    h2 {
      font-size: 1.3rem;
      margin-bottom: 40px;
    }

    a {
      color: #fff;
      font-weight: 700;
    }

    &.is-open {
      display: flex;
    }
  }
}
