.pagination{
    margin: 60px 0;

    .pagination-link{
        color: $blue;
        border-radius: 1px;

        &:hover{
            border-color: $green;
            i{
                color: $green;
            }
        }
        &.is-current{
            color: white;
            background-image: linear-gradient(200deg, $green 30%, $blue 100%);
            border: rgba($green, 0.8)
        }
    }
}