.section.profile {
  background: radial-gradient(#f5f5f5 2px, transparent 2px),
    linear-gradient(#fff 4px, transparent 0), #fff;
  background-size: 20px 20px;
  padding: 3rem 5rem 6rem 5rem;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 30%, #ffffff 100%);
  }

  .container {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 40px 40px 0 40px;
    position: relative;
    overflow: hidden;

    h1.title {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: normal;
      letter-spacing: 0.1em;
      position: relative;
      display: inline;
      z-index: 1;
      padding: 10px;
      background-color: #ffffff;
      margin-left: -10px;

      &:after {
        position: absolute;
        bottom: -20px;
        right: -50px;
        content: "";
        display: block;
        background: repeating-linear-gradient(
          45deg,
          transparent,
          transparent 10px,
          #ccc 10px,
          #ccc 20px
        );
        transform: rotate(5deg) skewX(-25deg);
        width: 200%;
        height: 100px;
        background-color: transparent;
        z-index: -1;
        opacity: 0.4;
      }
    }

    h1.title ~ .contact {
      margin-top: 40px;
    }

    .image {
      transform: rotate(10deg);
      max-width: 200px;
      position: absolute;
      right: -10px;
      top: -20px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      &:before {
        content: "";
        display: block;
        position: absolute;
        right: -8px;
        top: -88px;
        width: 120%;
        height: 150%;
        background: radial-gradient($green 5px, transparent 5px);
        background-size: 30px 30px;
        background-color: transparent;
        z-index: -10;
        opacity: 0.8;
        transform: rotate(55deg);
      }

      img {
        border: 10px solid $green;
      }
    }

    .contact {
      font-size: 0.89rem;
      color: rgba(45, 45, 45, 0.7);
      min-height: 90px;

      b {
        text-transform: uppercase;
        font-weight: normal;
        display: inline-block;
        letter-spacing: 0.01rem;
        width: 100px;
      }

      a {
        color: $green;

        &:hover {
          color: darken($green, 5%);
        }
      }
    }

    .content {
      margin-top: 50px;

      h1 {
        font-size: 1.4em;
        position: relative;
        display: inline-block;

        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -5px;
          left: -10px;
          background: rgba(0, 209, 178, 0.8);
          transform: skewX(22deg);
          width: 100%;
          height: 5px;
        }

        & + p {
          margin-top: 20px;
        }
      }
    }

    .footer {
      text-align: center;
      font-size: 0.75rem;
    }
  }
}
