/**
* Shared across all screen sizes
* See individual styles for mobile/tablet/desktop below
*/
.section.spaces {
  font-size: 1.2rem;

  article {
    margin: 50px 0 80px 0;

    p {
      margin: 20px 0 20px 0;
    }
  }

  .columns.spaces-list {
    .column {
      a {
        font-size: 3rem;
        color: #ffffff;
        background: linear-gradient(
          30deg,
          rgba(0, 209, 178, 0.8) 30%,
          rgba(0, 158, 253, 0.8) 100%
        );
        width: 80%;
        display: inline-block;
        padding: 30px 10px;
        text-align: center;
      }
    }

    a:hover {
      background-color: lighten($primary, 2%);
    }
  }
}

/**
* mobile screens
*/
@media only screen and (max-width: $mobile-breakpoint) {
  .section.spaces {
    font-size: 1rem;

    article {
      margin: 40px 0 40px 0;
    }

    .columns.spaces-list {
      .column {
        a {
          font-size: 3rem;
        }
      }
    }
  }
}
