/**
* Colors
*/
$blue: #009efd;
$green: #00d1b2;
$greenBlue: #00bcbf;

/**
* Bulma overwrites
*/
$fullhd-enabled: false;
$primary: $green;
$text: #4a4a4a;

@import "./vendor/bulma.sass";

/**
* Media queries
*/
$mobile-breakpoint: 500px;
