/**
* Bulma overwrites
*/
$fullhd-enabled: false;
$primary: #00d1b2;
$text: #4a4a4a;

@import "./vendor/bulma.sass";

/**
* Colors
*/
$blue: #009efd;

/**
* Media queries
*/
$mobile-breakpoint: 500px;
