@import "./fonts";
@import "./variables";
@import "./arrows";
@import "./background";
@import "./header";
@import "./footer";
@import "./profile";
@import "./spaces";
@import "./pagination";

.site-content {
  h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }

  .title {
    color: $text-color;
  }

  a {
    color: $blue;
  }
  a:hover {
    color: darken($blue, 10%);
  }

  .breadcrumb a {
    color: $blue;
    text-decoration: none;
  }

  .breadcrumb a:hover {
    color: darken($blue, 10%);
  }

  .accent-bg-green {
    background-color: rgba(0, 209, 178, 0.1);
  }

  .accent-bg-blue {
    background: linear-gradient(
      30deg,
      rgba(0, 209, 178, 0.4) 30%,
      rgba(0, 158, 253, 0.8) 100%
    );
  }

  .add-padd-top-1 {
    padding-top: 1rem;
  }

  .add-padd-3 {
    padding: 3rem;
  }

  .img-overlay {
    top: auto;
  }

  .img-tag {
    align-items: center;
    background: linear-gradient(
      30deg,
      rgba(0, 158, 253, 0.4) 30%,
      rgba(0, 209, 178, 0.8) 100%
    );
    color: #fff;
    display: inline-flex;
    font-size: 1.6rem;
    height: 3.1em;
    width: 100%;
    justify-content: center;
    line-height: 1;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  .image-placeholder {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    font-size: 210px;
    overflow: hidden;
    background-color: $green;
    color: #ffffff;

    i {
      vertical-align: top;
      padding-top: 20px;
    }
  }

  .columns > figure:nth-child(3n) > a > .image > .image-placeholder {
    background-color: $blue;
  }

  section.logo {
    padding: 20vh 20px 0 20px;
    height: calc(100vh - 52px);
    text-align: center;

    svg {
      fill: $green;
      margin: 0 auto 140px auto;
      display: block;
      transform: scale(1.5);
    }

    .teaser {
      background: linear-gradient(30deg, #00d1b2 30%, #009efd 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 34px;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
      padding: 20vh 20px 0 20px;
      svg {
        transform: scale(0.9);
        margin: 0 auto 50px auto;
      }

      .teaser {
        font-size: 25px;
      }
    }

    @media only screen and (max-width: $mobile-breakpoint) and (max-height: 620px) {
      .teaser {
        font-size: 20px;
      }
    }
  }
}
