@import "./fonts";
@import "./variables";
@import "./arrows";
@import "./header";
@import "./footer";
@import "./profile";
@import "./spaces";

.site-content {
  h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }

  .title {
    color: $text-color;
  }

  a,
  a:hover {
    color: $text-color;
  }

  .breadcrumb a {
    color: $blue;
    text-decoration: none;
  }

  .breadcrumb a:hover {
    color: darken($blue, 5%);
  }

  .headline {
    background: linear-gradient(200deg, $green 30%, $blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .accent-bg-green {
    background-color: rgba(0, 209, 178, 0.1);
  }

  .accent-bg-blue {
    background-color: rgba(0, 166, 241, 0.1);
  }

  .add-padd {
    padding: 1rem;
  }

  .img-overlay {
    top: auto;
  }

  .img-tag {
    align-items: center;
    background-color: rgba(0, 166, 241, 0.5);
    color: #fff;
    display: inline-flex;
    font-size: 1.6rem;
    height: 3.2em;
    width: 100%;
    justify-content: center;
    line-height: 1;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
}
