@import "./fonts";
@import "./variables";
@import "./arrows";
@import "./background";
@import "./header";
@import "./footer";
@import "./profile";
@import "./spaces";

.site-content {
  h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }

  .title {
    color: $text-color;
  }

  .teaser {
    background: linear-gradient(100deg, #00d1b2 30%, #009efd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a,
  a:hover {
    color: $text-color;
  }

  .breadcrumb a {
    color: $blue;
    text-decoration: none;
  }

  .breadcrumb a:hover {
    color: darken($blue, 5%);
  }

  .accent-bg-green {
    background-color: rgba(0, 209, 178, 0.1);
  }

  .accent-bg-blue {
    background: linear-gradient(100deg, rgba(0, 209, 178, 0.4) 30%, rgba(0, 158, 253, 0.8) 100%);
  }

  .add-padd-top-1 {
    padding-top: 1rem;
  }

  .add-padd-3 {
    padding: 3rem;
  }

  .img-overlay {
    top: auto;
  }

  .img-tag {
    align-items: center;
    background: linear-gradient(100deg, rgba(0, 158, 253, 0.4) 30%, rgba(0, 209, 178, 0.8) 100%);
    color: #fff;
    display: inline-flex;
    font-size: 1.6rem;
    height: 3.1em;
    width: 100%;
    justify-content: center;
    line-height: 1;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  .social-media {
    padding-top: 3rem;
  }

  .social-icon {
    padding-right: 2rem;
  }

  section.logo {
    padding: 60px 0 50px 0;
    svg {
      fill: $green;
      margin: 0 auto 90px auto;
      display: block;
    }
    text-align: center;
  }
}
