@import "./fonts";
@import "./variables";
@import "./arrows";
@import "./background";
@import "./header";
@import "./footer";
@import "./profile";
@import "./spaces";
@import "./pagination";
@import "./hackerinnen";

/**
* Styles shared between pages
*/
.site-content {
  font-size: 1.2rem;

  h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }

  h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
  }

  .title {
    color: $text;
  }

  a {
    color: $blue;

    &:hover {
      color: darken($blue, 10%);
    }
  }

  .breadcrumb a {
    color: $blue;
    text-decoration: none;

    &:hover {
      color: darken($blue, 10%);
    }
  }

  .add-padd-top-1 {
    padding-top: 1rem;
  }

  .add-padd-3 {
    padding: 3rem;
  }

  .image-placeholder {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    font-size: 210px;
    overflow: hidden;
    background-color: $primary;
    color: #ffffff;

    i {
      vertical-align: top;
      padding-top: 20px;
    }
  }

  section.logo {
    padding: 20vh 20px 0 20px;
    height: calc(100vh - 52px);
    text-align: center;

    svg {
      fill: $primary;
      margin: 0 auto 140px auto;
      display: block;
      width: 350px;
      height: auto;
    }

    .teaser {
      background: linear-gradient(30deg, $green 30%, $blue 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 34px;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
      padding: 20vh 20px 0 20px;
      svg {
        transform: scale(0.9);
        margin: 0 auto 50px auto;
      }

      .teaser {
        font-size: 25px;
      }
    }

    @media only screen and (max-width: $mobile-breakpoint) and (max-height: 620px) {
      .teaser {
        font-size: 20px;
      }
    }
  }

  .box {
    padding: 0;
    overflow: hidden;
  }

  .header {
    text-align: center;
    margin-bottom: 100px;
  }

  .default-list {
    margin-bottom: 40px;

    a.box {
      transition: all 0.2s ease-in-out;
    }

    a.box:hover,
    a.box:active {
      box-shadow: $box-shadow;
      transform: scale(1.1);
    }

    .description {
      background-color: #fff;
      font-size: 1.2rem;
      text-align: center;
      padding: 20px 10px;
      color: #4a4a4a;

      h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
      }
    }

    &.is-hackerinnen {
      .description {
        border-bottom: 5px solid $green;
      }
    }
  }
}
