{{ define "main" }}
  <section class="section">
    <div class="container">
      <h1 class="title">{{.Title}}</h1>
      {{.Content}}
      <div class="columns is-desktop is-multiline">
        {{ range .Pages }}
          <a href="{{.Permalink}}">
            <figure class="column">
              <div class="image">
                {{ with .Resources.Match "**.jpg" }}
                  {{ range . }}
                    {{ $scaled := .Fill "350x250" }}
                    <img src="{{ $scaled.Permalink }}" alt="{{ i18n "profile-image" }}">
                  {{ end }}
                {{ end }}
                <figcaption class="is-overlay img-overlay">
                  <span class="img-tag">
                    {{ .Title }}
                    {{ i18n "from" }}
                    {{ if .Parent }}
                      {{ .Parent.Title }}
                    {{ end }}
                  </span>
                </figcaption>
              </div>
            </figure>
          </a>
       {{ end }}
      </div>
    </div>
  </section>
{{ end }}
