<footer class="footer">
  <div class="content has-text-centered">
    <p class="is-size-7">
      hackerinnen.space, {{ now.Format "2006" }}
    </p>
    <p class="is-size-7">
      <a class="is-size-3" href="https://github.com/normade/hackerinnen" target="_blank" rel="noopener noreferer"><i class="fab fa-github social-icon"></i></a>
      <a class="is-size-3" href="https://twitter.com/hackerinnen" target="_blank" rel="noopener noreferer"><i class="fab fa-twitter social-icon"></i></a>
      <a class="is-size-3" href="https://instagram.com/hackerinnen.space" target="_blank" rel="noopener noreferer"><i class="fab fa-instagram"></i></a><br>
      <a href={{ "impressum/" | relLangURL }}>{{ i18n "impressum" }}</a> | <a href={{ "datenschutz/" | relLangURL }}>{{ i18n "datenschutz" }}</a> |
      <a href={{ "zeigdich/" | relLangURL }}>{{ i18n "recruiter" }}</a> |
      <a href={{ "zeigdich/" | relLangURL }}>{{ i18n "illegal" }}</a>
    </p>
  </div>
</footer>
