<title>Hackerinnen.space</title>
<meta name="description" content="{{ .Param "description" }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ .Param "twitter_handle" }}">
<meta name="twitter:title" content="Hackerinnen.space">
<meta name="twitter:description" content="{{ .Param "description" }}">
<meta name="twitter:image" content="https://hackerinnen.space/images/twitter.jpg">

{{ if .IsTranslated }}
{{ range.AllTranslations }}
<link
  rel="alternate"
  hreflang="{{ .Language.Lang }}"
  href="{{ .Permalink }}"
  title="{{ .Language.LanguageName }}"
/>
{{ end }}
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/css/bulma.min.css" />
{{ $styles := resources.Get "scss/main.scss" | toCSS }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

