<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href={{ "/" | relLangURL }}>hackerinnen.space</a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href={{ "tags/hackerinnen" | relLangURL }}>{{ i18n "hackerinnen" }}</a>
          <a class="navbar-item" href={{ "spaces/" | relLangURL }}>Spaces</a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href={{ "zeigdich/" | relLangURL }}>{{ i18n "zeigdich" }}</a>
          {{ if .IsTranslated }}
            {{ range .Translations }}
                <a class="navbar-item langSwitch"href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end}}
          {{ end }}
        </div>
      </div>
    </nav>
</header>
