<meta name="description" content="{{ .Param "description" }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ .Param "twitter_handle" }}">
<meta name="twitter:title" content="Hackerinnen.space">
<meta name="twitter:description" content="{{ .Param "description" }}">
<meta name="twitter:image" content="https://hackerinnen.space/images/twitter.jpg">

{{ if .IsTranslated }}
{{ range.AllTranslations }}
<link
  rel="alternate"
  hreflang="{{ .Language.Lang }}"
  href="{{ .Permalink }}"
  title="{{ .Language.LanguageName }}"
/>
{{ end }}
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/css/bulma.min.css" />
{{ $styles := resources.Get "scss/main.scss" | toCSS }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen" />
