{{ define "main" }}

  <div id="generated-bg"></div>

  <section class="logo">
    {{ readFile "static/images/logo-complete-nofill.svg" | safeHTML }}

    <h1 class="title teaser is-2">
      {{ i18n "teaser" }}
    </h1>

    <a href="#latest" class="arrow arrow-down"></a>
  </section>

  <section id="latest" class="section">
    <div class="container">
      <h2 class="tag is-primary is-medium is-pulled-right is-size-5">Hackerinnen</h2>
      <div class="columns is-multiline">
      {{ range first 6 .Site.Taxonomies.tags.hackerinnen }}
        <figure class="column is-one-third default-list">
          <a href="{{.Permalink}}">
            <div class="image">
              {{ range .Resources.ByType "image" }}
                {{ $scaled := .Fill "800x600 Top" }}
                <img src="{{ $scaled.Permalink }}" alt="{{ i18n "profile-image" }}">
              {{ else }}
                <span class="image-placeholder">
                  <img src="/images/astronaut.png">
                </span>
              {{ end }}
            </div>
            <div class="description">
              <div class="has-text-weight-light">
                <h2>{{ .Title }}</h2>
                {{ humanize .Params.cities }}
              </div>
            </div>
          </a>
        </figure>
      {{ end }}
      </div>
    </div>

    <div class="container">
      <h2 class="tag is-primary is-medium is-pulled-right is-size-5">{{ i18n "initiatives" }}</h2>
      <div class="columns is-multiline">
      {{ range first 3 .Site.Taxonomies.tags.initiatives }}
        <figure class="column is-one-third default-list">
          <a href="{{.Permalink}}">
            <div class="image">
              {{ range .Resources.ByType "image" }}
                {{ $scaled := .Fill "800x600 Center" }}
                <img src="{{ $scaled.Permalink }}" alt="{{ i18n "profile-image" }}">
              {{ else }}
                <span class="image-placeholder">
                  <img src="/images/astronaut.png">
                </span>
              {{ end }}
            </div>
            <div class="description">
              <div class="has-text-weight-light">
                <h2>{{ .Title }}</h2>
              </div>
            </div>
          </a>
        </figure>
      {{ end }}
      </div>
      <a href={{ "/initiatives" }}><b>{{ i18n "more-initiatives" }}</b></a>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths-widescreen">
          <h1 class="title is-size-3">{{ i18n "index-hackerinnen-heading" }}</h1>
          <h2 class="is-size-4">{{ i18n "index-hackerinnen-subtitle" }}</h2>
          <p class="add-padd-top-1">{{ i18n "index-hackerinnen-text-1" }}</p>
          <p class="add-padd-top-1">{{ i18n "index-hackerinnen-text-2" }}</p>
          <p class="add-padd-top-1">{{ i18n "index-hackerinnen-text-3" }}</p>
          <p class="add-padd-top-1"><a href={{ "zeigdich/" }}><b>{{ i18n "index-hackerinnen-text-4" }}</b></a></p>
        </div>
      </div>
    </div>
    <div class="container has-text-right">
      <br/><br/>
      <p class="is-size-6">*{{ i18n "hackerinnen-explained" }}</p>
    </div>
  </section>

  <script>window.inputString = "Hackerinnen"</script>
  {{ $script := resources.Get "js/background.js" | minify | fingerprint}}
  <script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
{{ end }}
