{{ define "main" }}

  <div id="generated-bg"></div>

  <section class="logo">
    {{ readFile "static/images/logo-complete-nofill.svg" | safeHTML }}

    <h1 class="title teaser is-2">
      {{ i18n "teaser" }}
    </h1>

    <a href="#latest" class="arrow arrow-down"></a>
  </section>

  <section id="latest" class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a href={{ "hackerinnen/" | relLangURL }}>
            <h2 class="tag is-hackerinnen is-medium is-pulled-right is-size-5">
              Hackerinnen
            </h2>
          </a>
        </div>
      </div>
      <div class="columns is-8 is-variable is-multiline">
      {{ range first 6 .Site.Taxonomies.tags.hackerinnen }}
        <div class="column is-one-third default-list is-hackerinnen">
          <a href="{{.Permalink}}" class="box">
            <div class="image">
              {{ range .Resources.ByType "image" }}
                {{ $scaled := .Fit "800x600 Top" }}
                <img src="{{ $scaled.Permalink }}" alt="profile-image">
              {{ else }}
                <span class="image-placeholder">
                  <img src="/images/astronaut.png">
                </span>
              {{ end }}
            </div>
            <div class="description has-text-weight-light">
              <h2>{{ .Title }}</h2>
              {{ humanize .Params.spaces }}
            </div>
          </a>
        </div>
      {{ end }}
      </div>
    </div>

    <div class="container">
      <div class="columns">
        <div class="column">
          <a href={{ "initiatives/" | relLangURL }}>
            <h2 class="tag is-initiatives is-medium is-pulled-right is-size-5">
              {{ i18n "initiatives" }}
            </h2>
          </a>
        </div>
      </div>
      <div class="columns is-8 is-variable is-multiline">
      {{ range first 3 .Site.Taxonomies.tags.initiatives }}
        <div class="column is-one-third default-list is-initiatives">
          <a href="{{.Permalink}}" class="box">
            <div class="image">
              {{ range .Resources.ByType "image" }}
                {{ $scaled := .Fill "800x600 Center" }}
                <img src="{{ $scaled.Permalink }}" alt="initiative-logo">
              {{ else }}
                <span class="image-placeholder">
                  <img src="/images/astronaut.png">
                </span>
              {{ end }}
            </div>
            <div class="description has-text-weight-light">
              <h2>{{ .Title }}</h2>
            </div>
          </a>
        </div>
      {{ end }}
      </div>
    </div>
  </section>

  <div class="container">
    <div class="columns">
      <div class="column">
        <a href={{ "projects/" | relLangURL }}>
          <h2 class="tag is-projects is-medium is-pulled-right is-size-5">
            {{ i18n "projects" }}
          </h2>
        </a>
      </div>
    </div>
    <div class="columns is-8 is-variable is-multiline">
    {{ range first 3 .Site.Taxonomies.tags.projects }}
      <div class="column is-one-third default-list is-projects">
        <a href="{{.Permalink}}" class="box">
          <div class="image">
            {{ range .Resources.ByType "image" }}
              {{ $scaled := .Fill "800x600 Center" }}
              <img src="{{ $scaled.Permalink }}" alt="project-logo">
            {{ else }}
              <span class="image-placeholder">
                <img src="/images/astronaut.png">
              </span>
            {{ end }}
          </div>
          <div class="description has-text-weight-light">
            <h2>{{ .Title }}</h2>
          </div>
        </a>
      </div>
    {{ end }}
    </div>
  </div>
</section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths-widescreen">
          <h1 class="title is-size-3">{{ i18n "index-hackerinnen-heading" }}</h1>
          <h2 class="is-size-4">{{ i18n "index-hackerinnen-subtitle" }}</h2>
          <p class="add-padd-top-1">{{ i18n "index-hackerinnen-text-1" }}</p>
          <p class="add-padd-top-1">{{ i18n "index-hackerinnen-text-2" }}</p>
          <p class="add-padd-top-1">{{ i18n "index-hackerinnen-text-3" }}</p>
          <p class="add-padd-top-1"><a href={{ "zeigdich/" }}><b>{{ i18n "index-hackerinnen-text-4" }}</b></a></p>
        </div>
      </div>
    </div>
    <div class="container has-text-right">
      <br/><br/>
      <p class="is-size-6">*{{ i18n "hackerinnen-explained" }}</p>
    </div>
  </section>

  <script>window.inputString = "Hackerinnen"</script>
  {{ $script := resources.Get "js/background.js" | minify | fingerprint}}
  <script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
{{ end }}
