{{ define "main" }}
<section class="section initiatives-list">
  <div class="container">
    <div class="header">
      <h1 class="title">{{.Title}}</h1>
      <p>
        {{.Content}}
      </p>
    </div>
    {{ range.Pages }}
      <div class="columns is-gapless initiative">
        <div class="column is-one-third">
          <div class="image">
            {{ range .Resources.ByType "image" }}
            {{ $scaled := .Fill "800x600 Center" }}
              <img src="{{ $scaled.Permalink }}" alt="{{ i18n "profile-image" }}">
            {{ end }}
          </div>
        </div>
        <div class="column">
          <div class="description">
            <h2>{{ .Title }}</h2>
            <div class="has-text-weight-light intro">
              {{ .Params.Intro }}
            </div>
            <a href="#" class="read-more" data-target="{{ .Params.Slug }}"><span class="tag is-primary is-medium">
              <span class="show-less">{{ i18n "show-less" }}</span><span class="show-more">{{ i18n "show-more" }}</span></span></a>
          </div>
        </div>
      </div>
      <div id="{{ .Params.Slug }}" class="columns is-gapless details">
        <div class="column">
          {{ .Content }}
        </div>
        <div class="column is-one-third contact">
          <h2>{{ i18n "get-in-touch" }}</h2>
          <div>
            {{ if isset .Params "website" }} <a href="{{ .Params.website }}" target="_blank" rel="noopener noreferrer">{{ i18n "website" }}</a><br/> {{ end }}
            {{ if isset .Params "github" }} <a href="https://www.github.com/{{ .Params.github }}" target="_blank" rel="noopener noreferrer">@{{ .Params.github }}<i class="fab fa-github social-icon"></i></a><br/> {{ end }}
            {{ if isset .Params "twitter" }} <a href="https://www.twitter.com/{{ .Params.twitter }}" target="_blank" rel="noopener noreferrer">@{{ .Params.twitter }}<i class="fab fa-twitter social-icon"></i></a><br/> {{ end }}
            {{ if isset .Params "instagram" }} <a href="https://www.instagram.com/{{ .Params.instagram }}" target="_blank" rel="noopener noreferrer">@{{ .Params.instagram }}<i class="fab fa-instagram social-icon"></i></a><br/> {{ end }}
            {{ if isset .Params "facebook" }} <a href="https://www.facebook.com/{{ .Params.facebook }}" target="_blank" rel="noopener noreferrer">@{{ .Params.facebook }}<i class="fab fa-facebook social-icon"></i></a><br/> {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ $script := resources.Get "js/initiatives.js" | minify | fingerprint}}
<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}></script>
{{ end }}
